<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"> {% load staticfiles%}
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'img/favicon.ico'%}">
  <title>D.T.V</title>
  <link href="{% static 'dist/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
</head>

<body>
  {% include 'navbar.html' %} 
  {% block content %} {% endblock %}
  {% include 'footer.html' %}
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="{% static 'js/jumbotron.js' %}"></script>
  <script src="{% static 'js/fb-login.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>

</html>
